
.chatContainer {
  display: grid;
  background-color: #333333;
  height: 100%;
  grid-area: chat;
  grid-template-columns: 70% 20% 10%;
  grid-template-rows: 4% auto 40px;
  grid-template-areas:
      "chatTOP chatTOP chatTOP"
      "chatMID chatMID chatMID" 
      "chatBOT chatBOT chatSEND";
  gap: 0px 0px;
}

.send{
position:relative;
top:20%;
}

.topbar{
display: inline-flex;
width:100%;
margin-bottom: 5%; 
margin-left: 3%; 
}

.tittle{
margin-left: 28%;
color: Black;
margin-top: 1%;
font-size: 30px;
font-weight: bold
}

.iconMenu{
 margin-top:3%;
}

.back{
justify-self: stretch;
align-self: stretch;
grid-area: 3 / 1 / 4 / 4;
background-color: #fee154;
z-index: 0;
}
.chattext { grid-area:chatBOT; ;align-self: center; z-index: 1;}
.chatsend { grid-area: chatSEND ; align-self: left; height: 30px; z-index: 1; }
.chatmessage { grid-area: chatMID ; padding: 5%; overflow-y:scroll; display: flex; flex-direction: column; top: 10%; }

.chatMessage::-webkit-scrollbar {
  display: none;
}

.chatinfo {
  overflow:hidden;
  grid-area: chatTOP;
  font-weight: bold;
  background-color: #fee154;
}

.inputChat{
  border-radius: 15px 15px 15px 15px;
  background-color: #333333;
  padding: auto;
  color: #ffffff;
  margin: 0 0 0 5%;
  height:30px;
  width: 90%;
  border-style: none;
}

.menuInput{
  width: 75%!important;
  height: 5% !important;
  border-top-left-radius: 20px!important;
  border-bottom-left-radius: 20px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.pseudoButton{
  width: 15%!important;
  height: 5% !important;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-right-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
}

.SelectRoom{
  width: 90%;
  padding-left: 40px;
  text-align: center;
  height: 35;
}

.hiddenMenu{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.select {
  width: 100px;
}