.chatContainer {
  display: grid;
  background-color: #333333;
  height: 100%;
  grid-area: chat;
  grid-template-columns: 70% 20% 10%;
  grid-template-rows: auto auto 40px;
  grid-template-areas:
      "chatTOP chatTOP chatTOP"
      "chatMID chatMID chatMID"
      "chatBOT chatEMO chatSEND";
  gap: 0px 0px;
}

.send{
position:relative;
top:20%;
}

.topbar{
display: inline-flex;
width:100%;
margin-bottom: 5%;
margin-left: 3%;
}

.tittle{
margin-left: 28%;
color: Black;
margin-top: 1%;
font-size: 30px;
font-weight: bold
}

.iconMenu{
 margin-top:3%;
}

.back{
justify-self: stretch;
align-self: stretch;
grid-area: 3 / 1 / 4 / 4;
background-color: #fee154;
z-index: 0;
}
.chattext { grid-area:chatBOT; ;align-self: center; z-index: 1;}
.chatsend { grid-area: chatSEND ; align-self: left; height: 30px; z-index: 1; }
.chatmessage { grid-area: chatMID; overflow-y:scroll; display: flex; flex-direction: column; top: 10%; }

.chatMessage::-webkit-scrollbar {
  display: none;
}

.chatEmoji{
  display: block;
  margin: auto auto;
  grid-area: chatEMO;
  background-color: aqua;
  z-index: 1;
}

.chatinfo {
  overflow:hidden;
  grid-area: chatTOP;
  font-weight: bold;
  background-color: #fee154;
  text-align: center;
}



.inputChat{
  border-radius: 15px 15px 15px 15px!important;
  background-color: #333333!important;
  padding: auto!important;
  color: #ffffff!important;
  margin: 0 0 0 5%!important;
  height:30px!important;
  width: 90%!important;
  border-style: none!important;
}

.menuInput{
  width: 180px;
  height: 40px;
  margin-top: 20px;
  border-radius: 20px 0px 0px 20px;
  padding-left: 20px;
}

.pseudoButton{
  width: 15%!important;
  height: 40px;
  border-radius: 0px 20px 20px 0px;
}

.SelectRoom{
  width: 90%;
  padding-left: 40px;
  text-align: center;
  height: 30px ;
}

.hiddenMenu{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.css-1s2u09g-control {
border-color: #2c2c2c !important;
}

.css-tlfecz-indicatorContainer {
  color: #2c2c2c !important;
}


.buttonAdd{
  margin-left: 5px;
  margin-right: 5px;
  background: white;
  font-size: 33px;
  color: #2c2c2c;
  border: 1px solid #2c2c2c;
  width: 40px;
  height: 38px;
  border-radius: 10px;
  line-height: 0px;
}

.select {
  width: 100px;
}


.myMsg {
  /* display: flex; */
  /* flex-direction: column; */
  word-wrap: break-all;
  background-color : #edca00;
  padding : 15px;
  padding-top: 8px;
  padding-bottom: 5px;
  align-self: end;
  border-radius : 23px 23px 0px 23px;
  clear: both;
  float : right;
  /* margin-bottom : 15px; */
  /* clear: both; */
  /* line-height: 5px; */
}

.myMsg > p{
  margin-top: 5px;
  font-size: 9px;
  text-align: right;
}

.otherMsg {
  word-wrap: break-all;
  width:fit-content;
  background-color : #636363;
  padding : 15px;
  padding-bottom: 5px;
  align-self: begin;
  border-radius : 23px 23px 23px 0px;
  margin-bottom : 15px;
  clear: both;
}

.otherMsg > p{
  margin-top: 5px;
  font-size: 9px;
  text-align: left;
}

.systemMsg {
  word-wrap: break-all;
  width:fit-content;
  color: aliceblue;
  padding : 15px;
  align-self: center;
  border-radius : 23px 23px 23px 23px;
  margin-bottom : 15px;
  clear: both;
}



/* my Message  */

.msgItem{
  display: grid;
  width: 100%;
  grid-template-columns: 82% 15%;
  grid-template-areas: "bubble img";
  margin-bottom: 20px;
  justify-items: end
}

.msgItem img {
  width: 50px;
  border-radius: 50%;
}

.msgItem .bubble{
  text-align: right;
  clear: left;
  word-break: break-all;
  background-color : #edca00;
  padding : 15px;
  padding-top: 8px;
  padding-bottom: 5px;
  border-radius : 23px 23px 0px 23px;
}

.bubble > p{
  margin-top: 5px;
  font-size: 9px;
  text-align: start;
}

/***********************/


/* other Message  */

.msgOtherItem{
  display: grid;
  width: 100%;
  grid-template-columns: 15% 82%;
  grid-template-areas: "iPP iBUBBLE";
  margin-bottom: 20px;
  justify-items: start
}

.msgOtherItem img {
  grid-area: iPP;
  width: 55px;
  margin: 1px;
  margin-top: 4px;
  border-radius: 50%;
}

.msgOtherItem .bubble{
  grid-area: iBUBBLE;
  text-align: left;
  margin-left: 1px;
  clear: right;
  word-wrap: break-all;
  background-color : #636363;
  padding : 15px;
  padding-top: 8px;
  padding-bottom: 0px;
  border-radius : 23px 23px 23px 0px;
}

.bubble > p{
  margin-top: 2px;
  font-size: 9px;
  text-align: left;
}
/***********************/

/* Room pop-up */

.popup-box {
    
  display: flex;
  grid-area: chatMID;
  width: 100%;
  height: 100%;
  overflow-y:scroll;
  background-color: #333333;
  z-index: 1;
  flex-direction: column; 
  top: 10%; 
  margin-bottom: 100%;
}

.box {
  position: relative;
  width: 88%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 10px;
  border: 1px solid #999;
  overflow: hidden;
  padding: 10px;
}

.popup-box::-webkit-scrollbar {
  display: none;
}

.inputPopUp{
  margin: 5px 0 0 0px !important;
  font-size: 16px;
  width: 95%!important;
  padding: 10px !important;
  align-self: center;
  border-radius: 20px !important;
}

.buttonPopUp1{
  margin: 10px 10px 0px  90px;
  position: flex;
  padding: 5px;
  border-radius: 20px!important;
}

.buttonPopUp{
  margin: 10px 10px 0px 10px;
  position: flex;
  padding: 5px;
  border-radius: 20px!important;
}
/***********************/




/* word-wrap: break-all;
padding : 15px;
background-color : #edca00;
padding-bottom: 5px;
border-radius : 23px 23px 0px 23px; */
/* .msgItem > img {
  position: relative;
  width: "1px";
  border-radius: "50%";
} */

/* .imgBlock{
  
} */
