.chatContainer {
  display: grid;
  background-color: #333333;
  height: 100%;
  grid-area: chat;
  grid-template-columns: 70% 20% 10%;
  grid-template-rows: 4% auto 40px;
  grid-template-areas:
      "chatTOP chatTOP chatTOP"
      "chatMID chatMID chatMID" 
      "chatBOT chatEMO chatSEND";
  gap: 0px 0px;
}

.send{
position:relative;
top:20%;
}

.topbar{
display: inline-flex;
width:100%;
margin-bottom: 5%; 
margin-left: 3%; 
}

.tittle{
margin-left: 28%;
color: Black;
margin-top: 1%;
font-size: 30px;
font-weight: bold
}

.iconMenu{
 margin-top:3%;
}

.back{
justify-self: stretch;
align-self: stretch;
grid-area: 3 / 1 / 4 / 4;
background-color: #fee154;
z-index: 0;
}
.chattext { grid-area:chatBOT; ;align-self: center; z-index: 1;}
.chatsend { grid-area: chatSEND ; align-self: left; height: 30px; z-index: 1; }
.chatmessage { grid-area: chatMID ; padding: 5%; overflow-y:scroll; display: flex; flex-direction: column; top: 10%; }

.chatMessage::-webkit-scrollbar {
  display: none;
}

.chatEmoji{
  display: block;
  margin: auto auto;
  grid-area: chatEMO;
  background-color: aqua;
  z-index: 1;
}

.chatinfo {
  overflow:hidden;
  grid-area: chatTOP;
  font-weight: bold;
  background-color: #fee154;
}


.inputChat{
  border-radius: 15px 15px 15px 15px!important;
  background-color: #333333!important;
  padding: auto!important;
  color: #ffffff!important;
  margin: 0 0 0 5%!important;
  height:30px!important;
  width: 90%!important;
  border-style: none!important;
}

.menuInput{
  width: 75%!important;
  height: 5% !important;
  border-top-left-radius: 20px!important;
  border-bottom-left-radius: 20px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.pseudoButton{
  width: 15%!important;
  height: 5% !important;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-right-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
}

.SelectRoom{
  width: 90%;
  padding-left: 40px;
  text-align: center;
  height: 35;
}

.hiddenMenu{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.select {
  width: 100px;
}


.myMsg {
  display: flex;
  flex-direction: column;
  word-wrap: break-all;
  background-color : #edca00;
  padding : 15px;
  padding-top: 8px;
  padding-bottom: 5px;
  align-self: end;
  border-radius : 23px 23px 0px 23px;
  margin-bottom : 15px;
  float : right;
  clear: both;
  /* line-height: 5px; */
}

.myMsg > p{
  margin-top: 5px;
  font-size: 9px;
  text-align: right; 
}

.otherMsg {
  word-wrap: break-all; 
  width:fit-content; 
  background-color : #636363; 
  padding : 15px;
  padding-bottom: 5px;
  align-self: begin;
  border-radius : 23px 23px 23px 0px;
  margin-bottom : 15px;
  clear: both;
}

.otherMsg > p{
  margin-top: 5px;
  font-size: 9px;
  text-align: left; 
}

.systemMsg {
  word-wrap: break-all; 
  width:fit-content;
  color: aliceblue;
  padding : 15px;
  align-self: center;
  border-radius : 23px 23px 23px 23px;
  margin-bottom : 15px;
  clear: both;
}