.midPanel{
	background-color: #333333;
	width: 50%;
	max-height: 80%;
	border-radius: 40px;
	border: 5px solid #3c3c3c;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: center;
}
