.midPanel{
	background-color: #333333;
	width: 50%;
	max-height: 80%;
	border-radius: 40px;
	border: 5px solid #3c3c3c;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: center;
	box-shadow: 0px 5px 14px 4px #fee054;
	animation: 30s Color infinite;
}

@keyframes Color{
    from, to { box-shadow: 0px 5px 14px 4px hsl(0, 100%, 50%); }
    10%      { box-shadow: 0px 5px 14px 4px rgb(230, 133, 22); }
    20%      { box-shadow: 0px 5px 14px 4px hsl( 36, 80%, 45%); }
    30%      { box-shadow: 0px 5px 14px 4px hsl( 72, 75%, 35%); }
    40%      { box-shadow: 0px 5px 14px 4px hsl(108, 65%, 35%); }
    50%      { box-shadow: 0px 5px 14px 4px hsl(144, 75%, 35%); }
    60%      { box-shadow: 0px 5px 14px 4px hsl(180, 75%, 35%); }
    70%      { box-shadow: 0px 5px 14px 4px hsl(216, 60%, 45%); }
    80%      { box-shadow: 0px 5px 14px 4px hsl(252, 65%, 50%); }
    90%      { box-shadow: 0px 5px 14px 4px hsl(288, 60%, 40%); }
}
