.body {
	width: 90vw;
	height: 50vh;
	display: flex;
	place-content: center;
	align-items: flex-end;
	overflow: hidden;
  }
/*
.pong-display-screen {
	position: absolute;
	display:block;
	margin-left: clamp(100px, 25%, 350px);
	margin-top: clamp(200px, 15%, 200px);
	width: 70%;
	height: 70%;
	background-color: lightgrey;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:50px;
}*/


