.chatApp {
    width: 20vw;
    height: 30vh;
    position: relative;
    top: 400px;
    left: 90%;
    background: #831D1D;
}
.chatContainer {
    display: grid;
    background-color: #333333;
    border-radius: 35px;
    height: 70%;
    grid-area: chat;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 80% 10%;
    gap: 0px 0px;
}
.chatMenu {
    justify-self: stretch;
    grid-area: chatMenu;
    background-color: #fee154; border-radius: 0px 35px 0px 0px;
}

.chatMenu {
  justify-self: stretch;
  grid-area: 1 / 2 / 2 / 3;
}
.send{
  margin: 3px 0 0 3px;
  z-index:1;
  position:relative;
  left:50%;
  top:4%;
  filter: invert(90%) sepia(44%) saturate(2847%) hue-rotate(317deg) brightness(113%) contrast(99%);
}
.send:hover{
  margin: 4px 0 0 4px;
  z-index:1;
  width: 20px;
  height: 20px;
  position:relative;
  left:50%;
  top:4%;
  filter: invert(90%) sepia(44%) saturate(2847%) hue-rotate(317deg) brightness(113%) contrast(99%);
}
.back{
  justify-self: stretch;
  align-self: stretch;
  grid-area: 3 / 1 / 4 / 3;
  background-color: #fee154;
  z-index: 0;
  border-radius: 0 0 35px 35px;
}
.chattext { grid-area: 3 / 1 / 4 / 3; align-self: center; z-index: 1;}
  .chatsend { grid-area: 3 / 2 / 4 / 3;  align-self: center; height: 30px; z-index: 1; }
  .chatinfo { grid-area: 1 / 1 / 2 / 3; justify-content: center; align-content: center; font-weight: bold;  text-align: center; background-color: #fee154; border-radius: 35px 35px 0px 0px;}
  .chatmessage { grid-area: 2 / 1 / 3 / 3; overflow-y:scroll }


.inputChat{
  border-radius: 15px 15px 15px 15px;
  background-color: #333333;
  padding-left: 60px;
  color: #ffffff;
  margin: 0 0 0 5%;
  height:30px;
  width: 90%;
  border-style: none;
  padding: 0;
}

.chat-body {
	width: 90vw;
	height: 70vh;
	display: flex;
	place-content: center;
	align-items: flex-end;
	overflow: hidden;
  }

.chat-separate {
    display: flex;
    width: 50vw;
    border: 3px solid #6A7985;
    margin-top: 2vh;
    margin-left: 4vw;
}

.chat-text {
    display: flex;
    margin-top: 1vh;
}
