.chatApp {
    width: 20vw;
    height: 30vh;
    display: flex;
    place-content: flex-start ;
    align-items: center;
    flex-direction: horizontal;
    flex-wrap: wrap;
    

    background: #831D1D;
    border: 2mm ridge #6A7985;
    box-sizing: border-box;
    border-radius: 75px;
    overflow: hidden;

    font-family: Courier Prime;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 28px;
    color: #6A7985;
	text-decoration-line: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-body {
	width: 90vw;
	height: 70vh;
	display: flex;
	place-content: center;
	align-items: flex-end;
	overflow: hidden;
  }

.chat-separate {
    display: flex;
    width: 50vw;
    border: 3px solid #6A7985;
    margin-top: 2vh;
    margin-left: 4vw;
}

.chat-text {
    display: flex;
    margin-top: 1vh;
}