.chatApp {
    width: 20vw;
    height: 30vh;
    position: relative;
    top: 400px;
    left: 90%;
    background: #831D1D;

}

.chat-body {
	width: 90vw;
	height: 70vh;
	display: flex;
	place-content: center;
	align-items: flex-end;
	overflow: hidden;
  }

.chat-separate {
    display: flex;
    width: 50vw;
    border: 3px solid #6A7985;
    margin-top: 2vh;
    margin-left: 4vw;
}

.chat-text {
    display: flex;
    margin-top: 1vh;
}
