.icon {
    width: 60vw;
    height: 65vh;
    display: flex;
    place-content: flex-start ;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    

    background: #FEE154;
    border: 2mm ridge #6A7985;
    box-sizing: border-box;
    border-radius: 75px;
    overflow: hidden;

    font-family: Courier Prime;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 28px;
    color: #6A7985;
	text-decoration-line: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-body {
	width: 90vw;
	height: 70vh;
	display: flex;
	place-content: center;
	align-items: flex-end;
	overflow: hidden;
  }

.icon-separate {
    display: flex;
    width: 50vw;
    border: 3px solid #6A7985;
    margin-top: 2vh;
    margin-left: 4vw;
}
.icon-text {
    display: flex;
    margin-top: 1vh;
}

.icon-choice {
    display: flex;
    place-content: center;
    align-items: center;

    padding-top: 3vh;
    width: 54vw;
    height: 20vh;
}

.icon-choose {
    display: flex;
    flex-direction: column;
    
    font-family: Courier Prime;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
    color: #6A7985;

    cursor: pointer;
	background: transparent;
	text-decoration-line: none;
    margin-right: 2vw;
}

.icon-import {
    display: flex;
    place-content: center;
    flex-direction: column;

    padding-top: 3vh;
}