@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family:  'Varela Round', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  letter-spacing: 1px;
}

:root{
  --main-color: #fee154;
  --black-color: #1f1f1f;
  --grey-color: #333333;
  --white-color: #f3f3f3;
  --red-color: #cc0000;
  --green-color: #007000;
  /*
  blue: #00f8ff
  vert: #73ff00 / #2bfa00
  violet: #a400ff
  rouge: #cc0000
  white:  #f3f3f3
  jaune: #fee154
  */
}
