.container {
  display: flex;
  place-content: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}
.logo
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  width: 50vw;
	margin-top: 35vh;
  overflow: visible;
  stroke: #6A7985;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

