scoreboard-body {
	width: 90vw;
	height: 70vh;
	display: flex;
	place-content: center;
	align-items: flex-end;
	overflow: hidden;
  }

.scoreboard {
    width: 60vw;
    height: 65vh;
    display: flex;
    place-content: flex-start ;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    

    background: #831D1D;
    border: 2mm ridge #6A7985;
    box-sizing: border-box;
    border-radius: 75px;
    overflow: hidden;

    font-family: Courier Prime;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 28px;
    color: #6A7985;
	text-decoration-line: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scoreboard-external-body {
    display:flex;
    align-items: center;
    flex-direction: column;

    width: 58vw;
    height: 7%;
  }

.scoreboard-separate {
    display: flex;
    width: 50vw;
    border: 3px solid #6A7985;
}

.scoreboard-text {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.scoreboard-internal-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 93%;
    width: 58vw;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.scoreboard-vertical-separate {
    display: flex;
    height: 60vh;
    
    border: 0.3vh dashed #6A7985;
}

.scoreboard-border {
    width: 20vw;
    text-align: center;
    outline: 2mm ridge #6A7985;
    border-radius: 2vw;
}
