@import url("./logo.css");
@import url("./loginButton.css");

#Homepage{
    height: 100%;
    background: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*              */        
/*  Responsive  */
/*              */


/*              */        
/*  Animations  */
/*              */