@import url("./logo.css");
@import url("./loginButton.css");

#HomePage{
    height: 100%;
    background: var(--grey-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*              */
/*  Responsive  */
/*              */


/*              */
/*  Animations  */
/*              */
