
#loginButton
{
  visibility: visible;
  background-color: #fee154;
  border:5px solid #333333;
  border-radius: 20px;
  padding: 15px;
  font-size: calc(20px + 2vw);
  color: #333333;
  font-weight: bold;
  letter-spacing: 3;
  margin-top: 250px;
  box-shadow: 0px 5px 17px 2px #000000;
  -webkit-animation: 3s opacite ease-in;
  animation: 3s opacite ease-in;
  transition: all 0.3s ease 0s;
}

#loginButton:hover
{
  background-color: #333333;
  border:5px solid #fee154;
  color:#fee154;
  transform: translateY(-10px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  box-shadow: 0px 15px 17px 2px #000000;
}

/*              */        
/*  Responsive  */
/*              */


/*              */        
/*  Animations  */
/*              */