#logo
{
  color:#1f1f1f;
  min-width: 350px;
  width: 50vw;
  overflow: visible;
  stroke: #6A7985;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*              */        
/*  Responsive  */
/*              */


/*              */        
/*  Animations  */
/*              */
