#MainPage {
  background: var(--black-color);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 50% 20%;
  grid-template-rows: 20% 80%;
  gap: 0% 5%;
  grid-template-areas:
    "menu logo chat"
    "menu game chat ";
  overflow: hidden;
}

.divimg {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.menuprofileImg {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.menu {
  grid-area: menu;
  width: 100%;
  height :100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.game { 
  grid-area: game;
  display: flex;
  justify-content: center;
}

#phaser-game
{
  padding-top: 100px;
}

.logo { 
  grid-area: logo;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLogo {
  min-height: 50px;
  height: 90%;
  max-height: 200px;
  color: var(--main-color);
  transition: color 1s;
}


@keyframes slidein {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}