#popUpStart{
  display:flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  width: 800px;
  height: 800px;
  background-color: var(--grey-color);
  margin-top: 50px;
  box-shadow: 0px 0px 20px 20000px hsl(0deg 0% 6% / 95%), 0px 9px 12px 5px hsl(0deg 0% 8%), inset 0px 0px 20px 3px hsl(0deg 0% 7%);;
  color: var(--white-color);
  overflow: hidden;
}

#popUpStart h1 {
  color: var(--main-color);
	background-color: var(--black-color);
	font-size: 50px;
	text-transform: uppercase;
	box-shadow:0px 10px 13px 4px hsl(0deg 0% 7%);
	border-bottom:  solid 2px var(--main-color);
	width: 100%;
	padding: 15px 0px;
	margin:0;
	z-index: 2;
}

#contentStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y:scroll;
	width: 100%;
  scroll-behavior: smooth;
}

#shadow {
  width: 96%;
	z-index: 1;
  transition: all 2s;
}

#popUpStart h2 {
  color: var(--main-color);
	border-bottom: groove 2px var(--main-color);
	font-size: 40px;
	text-transform: uppercase;
  margin: 20px 0px;
}

#popUpStart canvas {
  border-radius: 20px;
  box-shadow: 0px 10px 13px 4px hsl(0deg 0% 7%);
}

#popUpStart p {
  font-style: italic;
  font-size: 20px;
}

#popUpStart button
{
  background-color: var(--main-color);
  border: 5px solid var(--black-color);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: var(--black-color);
  font-weight: bold;
  letter-spacing: 3;
  box-shadow: 0px 8px 10px 2px var(--black-color);
  transition: all 0.3s ease 0s;
  animation: 1s slidein;
  margin-bottom: 10px;
}

#popUpStart button:hover
{
  background-color: var(--black-color);
  border:5px solid var(--main-color);
  color:var(--main-color);
  transform: translateY(-10px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  box-shadow: 0px 15px 10px 2px var(--black-color);
}

#popUpStart .editbox{
  margin-top: 0px;
}

#popUpStart #editName {
  margin : 0px;
}

#popUpStart #editName input {
  font-size: 20px;
  margin-left: 35px;
}

/* 2FA */

#form2FA{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  height: 30%;
  justify-content: space-around;
}

#form2FA h2{
  border: none;
	font-size: 15px;
  margin: 0px;
  color: var(--lose-color);
}

#form2FA input{
  margin: 20px 0px;
}