.PopupContainer {  display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "pp name name"
	  "lvl ratio history"
	  "mp addFriend duel";
	  height: 300px;
	  width:300px;
	  border-radius: 50px;
	  border: #fee154 solid 3px;
	  background-color: #2c2c2c;
	  box-shadow:5px 5px 20px black;
	  color:white;
  }

  .pp{ /*grid-area: pp;*/
		border-radius: 50%;
		height:46px;
		width: 46px;
		margin-left: 2px;
		overflow: hidden;
	}
	
.pp img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.popupName { grid-area: name;
	margin:auto auto;
	font-size: 30pt;
	font-weight: bolder;
}

  .ratio { grid-area: ratio;
	margin:auto auto;
	text-align: center;
	font-size: 20pt;
	font-weight: bolder;
}

  .mp { grid-area: mp;
text-align: center;}

  .addFriend { grid-area: addFriend; }

  .duel { grid-area: duel;
}

  .history { grid-area: history; }

  .lvl { grid-area: lvl;
	margin:auto auto;
	text-align: center;
	font-size: 20pt;
	font-weight: bolder;
}


.ProfileShortcutButton
{
	text-align: center;
	background-color: #2c2c2c;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
    height: 40px;
    /* border: 3px solid #fee154; */
    color: #fee154;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease ;
}
.ProfileShortcutButton:hover{
    background-color: #fee154;
    color: #000;
}
