.profileShortcut img {
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.PopupContainer {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 350px;
	height: 350px;
	border-radius: 20%;
	border: var(--main-color) solid 3px;
	background-color: #2c2c2c;
	box-shadow: 0px 0px 0px 10000px #00000099;
	color:white;
}

#profilSection {
	display: flex;
	height: 33%;
}

#profilSection span{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

#levelSection {
	display: flex;
	height: 33%;
	padding-top: 20px;
}

#buttonSection{
	display: flex;
	height: 33%;
	justify-content: space-around;
	align-items: center;
}

.popupName { grid-area: name;
	margin:auto auto;
	font-size: 30pt;
	font-weight: bolder;
}

  .ratio { grid-area: ratio;
	margin:auto auto;
	text-align: center;
	font-size: 20pt;
	font-weight: bolder;
}

  .mp { grid-area: mp;
text-align: center;}

  .addFriend { grid-area: addFriend; }

  .duel { grid-area: duel;
}

  .history { grid-area: history; }

  .lvl { grid-area: lvl;
	margin:auto auto;
	text-align: center;
	font-size: 20pt;
	font-weight: bolder;
}


.ProfileShortcutButton
{
	text-align: center;
	background-color: #2c2c2c;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
    height: 40px;
    /* border: 3px solid var(--main-color); */
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease ;
}

.ProfileShortcutButton:hover{
    background-color: var(--main-color);
    color: #000;
}
