.profileShortcut img {
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.PopupContainer {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 500px;
	height: 500px;
	border-radius: 25%;
	border: var(--main-color) ridge 10px;
	background-color: var(--black-color);
	box-shadow: inset 0px 0px 20px 6px hsl(0deg 0% 7%);
	color:white;
}

#profilSection {
	display: flex;
	height: 33%;
}

#profilSection span{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	position: relative;
}

#levelSection {
	display: flex;
	height: 33%;
	padding-top: 20px;
}

.popupName {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.status {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
	bottom: 35px;
	right: 80px;
	box-shadow:  0px 0px 0px 6px var(--black-color);	
}

#buttonSection{
	display: flex;
	height: 33%;
	justify-content: space-around;
	align-items: center;
}

.PopupContainer #lvlBox{
	justify-content: center;
	width: 50%;
}

.PopupContainer .winrate {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.PopupContainer .lvlgauge {
	width: 80%;
	background-color: var(--grey-color);
}

.blur {
	filter: blur(5px) brightness(0.3);
}