@import url("../HomePage/logo.css");

#ErrorPage{
    height: 100%;
    background: var(--grey-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorMessage{
    color:var(--lose-color);
    margin-top: 50px;
    animation: 3s slidein;
}

/*              */        
/*  Animations  */
/*              */

@keyframes slidein {
    0%{
      opacity: 0;
      transform: translateY(50px);
    }
    20% {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }