.friendPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: inset 0px 0px 20px 3px hsl(0deg 0% 7%);
	background-color: var(--grey-color);
}

.friendPanelMenu{
	display: flex;
	align-items: center;
	color: var(--main-color);
	font-size: 50px;
	border-bottom:  solid 2px var(--main-color);
	box-shadow: 0px 16px 13px 0px hsl(0deg 0% 7%);
	background-color: var(--black-color);
	width: 100%;
	padding: 15px 0px;
	text-transform: uppercase;
	margin:0;
	z-index: 2;
	transition: all 2s;
	font-weight: bold;
	overflow: hidden;
}

.title{
	width: 50%;
	opacity: 0.1;
	cursor: pointer;
	transition: opacity 1.5s;
}

.active {
	opacity: 1;
}

.title:hover{
	opacity: 0.5;
}

.list {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y:scroll;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	padding-bottom: 50px; 
}

/* Friend Item */

.friendBox{
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	background-color: var(--black-color);
	border: solid  2px;
	margin-top: 20px;
	box-shadow: inset 0px 0px 17px 0px;
	padding: 10px 0px;
	border-radius: 10px;
}

.friendBox h3 {
	width: 10%;
	margin: 0;
	color: var(--white-color);
}