  .friendPanel {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 0.5fr 10fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "friends blocked"
	  "list list";
  }

  .friends { grid-area: friends; border-bottom:thick solid; font-weight: bolder;}


  .blocked { grid-area: blocked; border-bottom:thick solid; font-weight: bolder;}

  .list { grid-area: list; }
