body {
  width: 100vw;
  	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: flex;

	justify-content: center;
	perspective: 500px;
	background: #1f1f1f;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link{
  visibility: hidden;
}

.loginButton
{
  visibility: visible;
  background-color: #fee154;
  border: #1f1f1f;
  border-radius: 60px;
  padding: 15px;
  font-size: calc(20px + 2vw);;
  color: #1f1f1f;
  font-weight: bold;
  align-self: center;
  margin-top: 15vh;
  animation: 3s opacite ease-in;
}

.loginButton:hover
{
  background-color: #fee254a4;
  cursor: pointer;
}

html, body {
  height: auto;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes opacite {
  0%   {opacity: 0%;}
  25%  {opacity: 0%;}
  50%  {opacity: 50%;}
  75% {opacity: 100%;}
}



#root{
  width: 100%;
  box-sizing: border-box;
}
/*
 .game{
  width: 31%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 35%; */
/* } */
/*
.horizontal{
  display:flex;
  height: 100%;
  flex-direction: row;
} */

.grid {

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 45% 25%;
  grid-template-rows: 15% 80%;
  gap: 5% 5%;
  grid-template-areas:
    ". profile ."
    "menu game chat ";
}

@media screen and (max-width: 1000px) {
  .grid {

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 40%;
    gap: 40px 20px;
    grid-template-areas:
      "logo"
      "game"
      "chat";
  }
}

.menu { grid-area: menu; }
.game { grid-area: game; }
/* .chat { grid-area: chat; background-color: #333333; border-radius: 35px 35px 0px 35px; margin-right: 20px; margin-bottom: 50px; margin-left: 20px;} */
.profile { grid-area: profile; }
.logo { grid-area: logo; }
