body {
  width: 100vw;
  	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: flex;
	
	justify-content: center;
	perspective: 500px;
	background: #1f1f1f;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loginButton
{
  background-color: #333333;
  width: 10vw;
  border-radius: 60px;
  height: 5vw;
  font-size: 2vw;
  align-self: center;
  margin-top: 15vh;
}
.loginButton:hover
{
  background-color: #fee154;
  width: 10vw;
  border-radius: 60px;
  height: 5vw;
  font-size: 2vw;
  align-self: center;
  margin-top: 15vh;
}

html, body {
  height: auto;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}











#root{
  width: 100%;;
}
/* 
 .game{
  width: 31%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 35%; */
/* } */
/*
.horizontal{
  display:flex;
  height: 100%;
  flex-direction: row;
} */

.container {

  height: 100%;
  width: 100%;
  display: grid; 
  grid-template-columns: 25% 50% 25%; 
  grid-template-rows: 15% 80%; 
  gap: 40px 20px; 
  grid-template-areas: 
    ". profile ."
    "menu game chat"; 
}
@media screen and (max-width: 1000px) {
  .container {

    height: 100%;
    width: 100%;
    display: grid; 
    grid-template-columns: 100%; 
    grid-template-rows: 10% 50% 40%; 
    gap: 40px 20px; 
    grid-template-areas: 
      "logo"
      "game" 
      "chat"; 
  }
}

.menu { grid-area: menu; }
.game { grid-area: game; }
.chat { grid-area: chat; background-color: #fee154; border-radius: 30px 30px 0px 30px;}
.profile { grid-area: profile; }
.logo { grid-area: logo; }