#history h1:first-child {
	color: #fee154;
	border: groove 2px #fee154;
	background-color: #1f1f1f;
	border-radius: 20px;
	padding: 10px 100%;  /* 100px ? */
	font-size: 50px;
	margin-bottom: 50px;
	text-transform: uppercase;
	box-shadow:0px 10px 13px 4px hsl(0deg 0% 7%);
}

#history .profileShortcut img{
	width: 85px;
	border: 2px #fee154 groove;
	background-color: white;
	box-shadow: 0px 10px 13px 4px hsl(0deg 0% 7%);
}

.item-match-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 37.5%;
}

.vs {
	box-shadow: #fee154;
	color: #fee154;
	border:groove 2px #fee154;
	background-color: #1f1f1f;
	border-radius: 20px;
	padding: 12px 20px;
	box-shadow: 0px 10px 13px 4px hsl(0deg 0% 7%);
}

.itemMatch{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	width: 75%;
	border-radius: 50px;
	margin-bottom: 60px;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	box-shadow: inset 0px 0px 11px 0px rgb(3, 3, 3), 0px 10px 13px 4px hsl(0deg 0% 7%);
	border-top:2px #fee154 groove;
	border-bottom:2px #fee154 groove;
}

.itemMatch-win
{
 	background-color: #fee154;
}

.itemMatch-lose{
	background-color: #3c3c3c;
}

.score {
	font-size: 30px;
}

.score-win{
	color: #007000;
}

.score-lose{
	color: #cc0000;
}

.name {
	text-transform: uppercase;
}
