#history{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	align-content: flex-start;
	box-shadow: 0px 0px 11px 0px hsl(0deg 0% 7%);
	border-radius: 30px;
	overflow-x: hidden;
}

#history h1:first-child {
	color: var(--main-color);
	border: groove 2px var(--main-color);
	background-color: var(--black-color);
	border-radius: 20px;
	padding: 10px 100%;  /* 100px ? */
	font-size: 50px;
	margin-bottom: 50px;
	text-transform: uppercase;
	box-shadow:0px 10px 13px 4px hsl(0deg 0% 7%);
}

#history .profileShortcut img{
	width: 85px;
	border: 2px var(--main-color) groove;
	background-color: white;
	box-shadow: 0px 10px 13px 4px hsl(0deg 0% 7%);
}

.item-match-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 37.5%;
}

.vs {
	box-shadow: var(--main-color);
	color: var(--main-color);
	border:groove 2px var(--main-color);
	background-color: var(--black-color);
	border-radius: 20px;
	padding: 12px 20px;
	box-shadow: 0px 10px 13px 4px hsl(0deg 0% 7%);
}

.itemMatch{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	width: 75%;
	border-radius: 50px;
	margin-bottom: 60px;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	box-shadow: inset 0px 0px 11px 0px rgb(3, 3, 3), 0px 10px 13px 4px hsl(0deg 0% 7%);
	border-top:2px var(--main-color) groove;
	border-bottom:2px var(--main-color) groove;
}

.itemMatch-win
{
 	background-color: var(--main-color);
}

.itemMatch-lose{
	background-color: #3c3c3c;
}

.score {
	font-size: 30px;
}

.score-win{
	color: var(--green-color);
}

.score-lose{
	color: var(--red-color);
}

.name {
	text-transform: uppercase;
}
