.cameraWidget{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--black-color);
	border-radius: 15px;
	padding: 10px;
	width: 250px;
	height: 200px;
	box-shadow: 0px 7px 10px 3px hsl(0deg 0% 7%);
	margin-left: 20px;
}

.cameraWidget img {
	border-radius: 10px;
}

.webcam{
	border-radius: 10px;
}

.capture{
	border-radius: 10px;
}

.buttonCapture{
	margin-top: 10px;
	background-color: var(--main-color);
	border:none;
	border-radius: 8px;
	cursor: pointer;
	width: 20%;
	padding-right: 4px;
	padding-bottom: 3px;
	box-shadow: 0px 4px 6px 1px hsl(0deg 0% 7%);
}

.boxButton {
	width: 85%;
 	display: flex;
 	justify-content: space-between;
	
}

.buttonWebcam{
	background-color: var(--main-color);
	border:none;
	border-radius: 8px;
	cursor: pointer;
	padding: 3px 5px;
}
