.cameraWidget{
	background-color: #2c2c2c;
	width:170px;
	height:150px;
	border-radius: 15px;
}
.webcam{
	border-radius: 12px;
}
.capture{
	border-radius: 12px;
}
.buttonCapture{
	margin-top: 10px;
	background-color: #fee154;
	border: 0px none;
	border-radius: 12px;
	height: 24px;
}
.circle{
	height:100px;
	width:100px;
	border-radius: 50%;
	overflow: hidden;
}
