.editBox{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editButton{
  height: 25px;
  margin-left: 10px;
  filter: invert(90%) sepia(44%) saturate(2847%) hue-rotate(317deg) brightness(113%) contrast(99%);
  cursor: pointer;
}

#editName {
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-top: 30px;
}

.nicknameChange {
  color: var(--green-color);
  font-style: italic;
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}

.nicknameError {
  color: var(--red-color);
  font-style: italic;
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}

.ProfileLogin{
  font-size: 35px;
  font-weight: bolder;
}

.ProfileInput{
  background-color: var(--black-color);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: #F2F2F2;
  text-align: center;
}

.ProfileInput:focus{
  outline: var(--main-color) groove 2px;
}

.ProfilePicture{
  margin: 1.6%;
  border: 1px solid black;
  width: 10%;
  height: 80%;
  border-radius: 50%;
  align-self: center;
}
