.editBox{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 30%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  background-color: #7c7c7c;
  border: 4px solid #3c3c3c;
  border-radius: 40px;
align-items: center;
justify-content: center;
text-align: center;
}
.editButton{
  height: 25px;
  margin-left: 4%;
filter: invert(90%) sepia(44%) saturate(2847%) hue-rotate(317deg) brightness(113%) contrast(99%);
}
.ProfileInput{
  background-color: #1f1f1f;
  border: 0px none #00fada00;
  width: 50%;
  height: 25px;
  margin-left: 4%;
  margin-right: 1%;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
}
.ProfileLogin{
  font-size: 35px;
  font-weight: bolder;
}

.ProfilePicture{
margin: 1.6%;
border: 1px solid black;
width: 10%;
height: 80%;
border-radius: 50%;
align-self: center;
}
