#lvlBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.lvlGauge{
	width: 50%;
	height: 10px;
	overflow: hidden;
	border-radius: 5px;
	background-color: var(--black-color);
}

.lvlG{
	height: 10px;
	background-color: var(--main-color);
}

.lvlNumber{
	color: var(--main-color);
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 10px;
}
