.lvlGauge{
	flex-direction: column;
	width: 80%;
	height: 10px;
	overflow: hidden;
	margin-bottom: 3%;
	border-radius: 5px;
	background-color: #3c3c3c;
}
.lvlG{
	height: 10px;
	background-color: #fee154;
}

.lvlT{
	color: #fee154;
	font-size: 18pt;
	font-weight: bold;
}
