#profile h1 {
	box-shadow: #fee154;
	color: #fee154;
	border:solid 2px;
	background-color: #1f1f1f;
	border-radius: 20px;
	padding: 10px 100px;
}

.profileImg{
	width: 100px;
	margin-top: 10px;
	height:100px;
	border-radius: 50%;
	align-self: center;
}
