.ProfileImgDiv{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

.ProfileButton {
    width: 100%;
}

.ProfileButton img {
    width: 20px;
    filter: invert(90%) sepia(44%) saturate(2847%) hue-rotate(317deg) brightness(113%) contrast(99%);
    cursor: pointer;
}

.ProfileButton button{
    border: none;
    background-color: unset;
    margin-left: 165px;
    margin-bottom: 3px;
}

.ChooseContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ChooseContainer canvas {
    border-radius: 10px;
    margin-top: 5px;
}

.ChooseOption
{
	background-color: #1f1f1f;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0px 0px 10px;
    padding: 10px;
    color: #fee154;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease ;
}

.ChooseOption:hover{
    background-color: #fee154;
    color: #1f1f1f;
    font-weight: bolder;
}

.valideButton
{
	background-color: #2c2c2c;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    padding-top: 10px;
    color: #fee154;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease ;
    align-self: center;
}

.valideButton:hover{
    background-color: #fee154;
    color: #000;
}




input[type="file"] {
    display: none;
}
