#profile {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 11px 0px hsl(0deg 0% 7%);
	border-radius: 30px;
	overflow: hidden;
}

#profile h1{
	color: #fee154;
	border-top: groove 2px #fee154;
	border-bottom: groove 2px #fee154;
	background-color: #1f1f1f;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	box-shadow:0px 10px 13px 4px hsl(0deg 0% 7%);
	z-index: 1;
}


#profile h2 {
	color: #fee154;
	border: groove 2px #fee154;
	background-color: #1f1f1f;
	border-radius: 20px;
	padding: 10px 25%;
	text-transform: uppercase;
	box-shadow: 0px 10px 13px 4px hsl(0deg 0% 7%);
}

#boxProfile{
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: scroll;
}

#topBox {
	display: flex;
	width: 100%;
}


#profile #player {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#profile #statistics {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#profile #security {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#profile #security h1 {
	padding: 10px 12.5%;
	margin-top: 60px;
}


.profileImg{
	width: 140px;
	height:140px;
	border-radius: 50%;
	align-self: center;
	border: groove 2px #fee154;
	background-color: white;
	box-shadow: 0px 10px 13px 4px hsl(0deg 0% 7%);
}
