#twoAuth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

#twoAuth button {
    text-decoration: none;
    font-size: 16px;
    background-color: #7C7C7C;
    border-radius: 40px;
    border: 4px solid #3c3c3c;
    cursor: pointer;
}

#number {
    width: 150px;
}