.winRate{
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    top :100px;
}

.score-win{
	color: var(--green-color);
}

.score-lose{
	color: var(--red-color);
}