*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

main{
    width:450px;
    height: 80vh;
	display: flex;
	border-radius: 20px;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color: #edca00;
}

.tittle{
	border: none; 
	border-width: 0; 
	box-shadow: none;
	background-color: transparent;
	color: Black;
	font-size: 30px;
	text-align: center;
}

.Menu{
	display: none;
	padding: 7px;
	padding-inline-start: 7px;
}


.menu-input{
	width:88%;
	height: 28px;
	border: 1px solid #222222;
	border-radius : 10px;
	background-color: #eeebeb;
	font-size: 16px;
	position:relative;
}

.top-bar{
	padding: 10px;
	padding-top: 15px;
	padding-left: 15px;
	display: inline-block;
}

.chat{
    flex:1;
	color:white;
	display: inline;
    background-color: #222222;
	padding: 20px 30px;
	max-width:450px;
	overflow: hidden;
  	overflow-y: scroll;
}

.username{
	padding-bottom: 6px;
}

.select{
	padding-bottom: 6px;
}

.chat-input {
    border-radius: 20px;
	border: none;
	padding: 10px;
	padding-top: 0px;
    background: #edca00;
	width: 100%;
}

.msg-input {
	width:88%;
	height: 38px;
	border: 1px solid #222222;
	border-radius : 10px;
	background-color: #eeebeb;
	font-size: 16px;
	position: relative;
}

.button-send {
	padding: 6px;
	background-color: lightgray;
	border: 2px solid #222222;
	border-radius: 10px;
	position: relative;
	top: 15px;
}

.menu-button{
	top:1px;
	height: 28px;
	padding: 6px;
	text-align: center;
	background-color: lightgray;
	border: 2px solid #222222;
	border-radius: 10px;
	position: relative;
}

.addRoom{
	display: none;
	padding-bottom: 6px;
}

.password{
	display:none;
	padding-bottom: 6px;
}